*.cjs
*.js
*.mjs
!browser/import.js
!browser/tests.cli.mjs
*.tgz
*~
.DS_Store
.Thumbs
._*
.idea/
.pnpm-debug.log*
.vscode/
browser/tests/
builder/tests/
dist/*
!dist/sed-lite.min.js
node_modules
nohup.out
npm-debug.log*
package-lock.json
pnpm-lock.yaml
~$*
